p {
  margin-top: 0;
  margin-bottom: 0;
}

header >div.container {
  background-color: black;
  color: white;
}

main > .feed {
  text-align: center;
}

div > img {
  max-width: 70px;
  border-radius: 50%;
}

.profile {
  display: flex;
  border: 3px solid black;
  height: 250;
  height: 250px;
  flex-direction: column;
  align-items: center;
}

div.like-header > button {
  background-color: #FFD966;
  border: 3px solid black;
  box-shadow: 3px 3px black;
}

.like-header {
  display: flex ;
  margin: 0px;
  justify-content: space-around;
  align-items: baseline;
}

.like-container {
  border: 2px solid black;
  height: 140px;
}

.like-contain {
  font-size: 20px;
}